@media (max-width:500px) {
    .adjustwidth{
        width: 100vw;
    
    }
}
@media (max-width:500px) {
    .adjustwidth{
        width:100vw;
        height: 1440px;
        margin-top: 50px;
        margin-left: 8px;
        margin-right: 0px;
    }
}
